/* || General Styles */ 
html, body {
  margin: 0;
  height: 100%;
  width: 100%;
}

* {
  font-family: 'Space Mono', monospace;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  margin-top: -100px;
}

.tip, p {
  margin: 0;
}

.tip {
  font-weight: 400;
}

p, .custom-button, .input {  
  font-weight: 700; /* changes everything except .tip tag */
}

.tip, .input, .reset-button {
  border-radius: 5px;
}



/* || Container */ 
.container {
  margin-top: 70px;
  display: flex;
  border-radius: 25px;
  padding: 40px;
  column-gap: 40px;
}

section {
  width: 370px;
  height: 370px;
  border-radius: 15px;
}



/* || Left Side */ 
.input, .tip {
  font-size: 24px;
}

.input {
  font-family: 'Space Mono', monospace;
  width: 100%;
  box-sizing: border-box;
  text-align: right;
  padding: 10px 20px;
  border: none;
}

.bill-input {
  background: hsl(189, 41%, 95%) url("../images/icon-dollar.svg") no-repeat left;
  background-origin: content-box;
}

.people-input {
  background: hsl(189, 41%, 95%) url("../images/icon-person.svg") no-repeat left; 
  background-origin: content-box;
}

.tip-buttons-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  margin-top: 10px;
}

.left-side p {
  margin-bottom: 5px;
}

.left-side p:not(:first-child) {
  margin-top: 35px;
}

.tip {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
}

/* hide arrows on number input -> all browsers */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none; /*  */ 
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield; 
}

button {
  border: none;
}

.custom-button {
  padding: 0;
  text-align: center;
}



/* || Right Side */ 
.right-side {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 30px; 
  grid-template-rows: 60px 60px auto;
  width: 290px;
  height: 290px;
  padding: 40px;
}

.reset-button {
  width: 100%;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
  height: 50px;
  font-size: 16px;
  grid-column: 1 / 3;
  align-self: end;
}

.tip-amount, .total-amount, .right-side-text {
  align-self: center; 
}

.tip-amount, .total-amount {
  justify-self: end;
  font-size:  45px;
}

.small-text {
  font-size: 13px;
}

.left {
  float: left;
}
.right {
  float: right;
  color: hsl(11, 53%, 69%) !important; 
  display: none;
}

.active {
  background: hsl(172, 67%, 45%) !important;
}

/* CSS Selectors */ 
.tip:active {
  background: hsl(172, 67%, 45%); 
}

.tip:hover, .reset-button:hover {
  cursor: pointer;
}

.reset-button:active {
  background: hsl(185, 41%, 84%);  /*hsl(186, 14%, 43%); */
}

.bill-input:focus, .custom-button:focus {
  outline: 2px solid hsl(172,30%, 50%);
}

.people-input:focus {
  outline: 2px solid hsl(11, 53%, 69%); 
}




/* COLOURS */ 
body {
  background: hsl(185, 41%, 84%); 
}

.container {
  background: hsl(0, 0%, 100%); 
}

.tip-button, .right-side {
  background: hsl(183, 100%, 15%); 
}

.custom-button {
  background: hsl(189, 41%, 95%);
}

.reset-button {
  background: hsl(183, 100%, 21%);
  color: hsl(183, 100%, 15%); 
}

.left-side p, .custom-button, .small-text {
  color: hsl(186, 14%, 43%); 
}

::placeholder {
  color: hsl(184, 14%, 56%); 
}

.input {
  color: hsl(183, 100%, 15%); 
}

.tip-button, .white-text { 
  color: hsl(189, 41%, 97%);
}

.tip-amount, .total-amount {
  color: hsl(172, 67%, 45%);
}








/* 
### Primary

- Strong cyan: hsl(172, 67%, 45%) // text of numbers in tip amount. 

### Neutral


- Dark grayish cyan:  // reset button maybe, idk, could be a text color aswell. 
- Dark grayish cyan: hsl(184, 14%, 56%) ??? 
- Light grayish cyan: hsl(189, 41%, 97%) // the form fields of: bill input, no. of ppl input, custom button

- Very dark cyan:  // dark buttons 
- Light grayish cyan:  // body color 
- White: container color 

- Very dark cyan: hsl(183, 100%, 15%)
- Dark grayish cyan: hsl(186, 14%, 43%)
- Dark grayish cyan: hsl(184, 14%, 56%)
- Light grayish cyan: hsl(185, 41%, 84%)
- Light grayish cyan: hsl(189, 41%, 97%) -> change lightness to 95%. 
- White: hsl(0, 0%, 100%)

*/ 
/*
#fivePct {
  background: hsl(183, 100%, 15%); 
}
#tenPct {
  background: hsl(186, 14%, 43%); 
}
#fifteenPct {
  background: hsl(184, 14%, 56%); 
}
#twentyFivePct {
  background: hsl(185, 41%, 84%); 
}
#fiftyPct {
  background: hsl(189, 41%, 97%); 
}
*/
